/*--- Property Page --- */
 .propertyInfo{
     font-size: 15px;
     padding: 20px;
     text-align: justify;
}
 @media screen and (min-width: 800px){
     .propertyInfo{
         grid-row: 3/5;
         grid-column: 1/3;
         font-size: 13px;
    }
     #propertyImage1{
         grid-row: 3/4;
         grid-column: 3/4;
         margin-left: auto;
         margin-right: auto;
    }
     #propertyImage2{
         grid-row: 3/4;
         grid-column: 4/5;
         margin-left: auto;
         margin-right: auto;
    }
     #propertyImage3{
         grid-row: 4/5;
         grid-column: 3/4;
         margin-left: auto;
         margin-right: auto;
    }
     #propertyImage4{
         grid-row: 4/5;
         grid-column: 4/5;
         margin-left: auto;
         margin-right: auto;
    }
}
