/*--- Resort Page --- */
 .resortInfo{
     font-size: 15px;
     text-align: justify;
     padding:10px;
}
 @media screen and (min-width: 800px){
    /*--- Resort Page ---*/
     .resortInfo{
         grid-row: 3/5;
         grid-column: 3/5;
         font-size: 13px;
         margin-left: 10px;
    }
     #resortImage1{
         grid-row: 3/4;
         grid-column: 1/2;
         margin-left: auto;
         margin-right: auto;
    }
     #resortImage2{
         grid-row: 3/4;
         grid-column: 2/3;
         margin-left: auto;
         margin-right: auto;
    }
     #resortImage3{
         grid-row: 4/5;
         grid-column: 1/2;
         margin-left: auto;
         margin-right: auto;
    }
     #resortImage4{
         grid-row: 4/5;
         grid-column: 2/3;
         margin-left: auto;
         margin-right: auto;
    }
}
