/*--- Mobile First layout ---*/
/*--- General Page Layout ---*/
 .container{
     display: grid;
     grid-template-columns: 1fr;
     grid-row-gap: 10px;
}
 .header{
     position: relative;
     font-family: Poiret One;
     font-size: 60px;
     text-align: center;
     padding: 20px 30px 20px 30px;
}
 .navbar{
     margin-bottom: 0px;
}
 .navbar .navbar-nav {
     display: inline-block;
     float: none;
     vertical-align: top;
}
 .navbar .navbar-collapse {
     text-align: center;
}
 a.navbar-style{
     font-family: Poiret One;
}
 a{
     color: #387a0e;
     flex:1;
    /*equal width to links*/
     font-family: Poiret One;
     padding:10px 20px 0px 20px;
     text-align: center;
     font-size: 25px;
}
 img{
     margin-left: auto;
     margin-right: auto;
     border-radius: 15px;
     cursor: pointer;
     transition: 0.3s;
}
 .footer{
     font-family: Dosis;
     font-size: 15px;
     text-align: center;
     padding-top: 20px;
     color: #b2b4b7;
}
/* --- Settings and CSS grid layout for desktop --- */
 @media screen and (min-width: 800px){
    /*--- General Page Layout ---*/
     .container{
         padding-top: 20px;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: repeat (5, auto);
         grid-gap: 10px;
    }
     .header{
         grid-row: 2/3;
         grid-column: 1/5;
         position: relative;
         font-family: Poiret One;
         font-size: 70px;
         text-align: center;
         padding: 20px 30px 20px 30px;
    }
     img:hover{
         opacity: 0.5;
    }
}
