/*--- Mobile First ---*/

	.container{

		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}

	.header{

		position: relative;
    	font-family: Poiret One;
    	font-size: 60px;
    	text-align: center;
    	padding: 20px 30px 20px 30px;
	}

	.navbar .navbar-nav {
 		display: inline-block;
  		float: none;
  		vertical-align: top;
	}

	.navbar .navbar-collapse {
	  text-align: center;
	}

	a{
		color: #387a0e;
		flex:1;		/*equal width to links*/
		font-family: Poiret One;
		padding:10px 20px 0px 20px;
		text-align: center;
		font-size: 25px;
			
	}

	a.social-media:hover{

		color: #000000;
	}

	img{

		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
    	transition: 0.3s;
	}

	.footer{
		font-family: Dosis;
		font-size: 15px;
		text-align: center;	
		padding-top: 20px;
		color: #b2b4b7;
	}


/* --- For Desktop --- */

	@media screen and (min-width: 800px){


	a{

		font-size: 25px;
		border: none;
		font-family: Poiret One;
			
	}

	a.social-media:hover{

		color: #387a0e;
	}

}
