<form name="booking" action="#" onsubmit="alertFunction()">
	<strong>Please fill the booking form stating the dates you would like to stay. We will get back to you with confirmation as soon as possible.</strong><br><br>

			<label for="name" class="field">Name:</label>
			<input type="text" placeholder="Required field" required autocomplete="name" name="Name"/><br>

			<label for="phone" class="phone">Phone:</label>
			<input id="phone" name="phone" placeholder="Please enter a valid telephone number (11 digits)" required autocomplete="tel-national" type="tel" pattern="[0-9]{11}" />

			<label for="email" class="field">Email:</label>
			<input id="email" name="email" placeholder="Enter email" required autocomplete="email" type="email"/>

			<label for="arrival" class="arrival">Arrival:</label>
			<input type="text"  class="form-control" id="start-date" name="start-date" required placeholder="MM/DD/YYYY">
			
			<label for="departure" class="departure">Departure:</label>
			<input type="text" class="form-control" id="end-date" name="end-date" required placeholder="MM/DD/YYYY" >
		
		<button type="submit" class="btn">Send Enquiry 
			<i class="fa fa-paper-plane-o" aria-hidden="true"></i>	
		</button>						
</form>